.btn-class-name 
{
--primary: 255, 90, 120;
--secondary: 150, 50, 60;

width: 30px;
height: 30px;
border: none;
outline: none;
cursor: pointer;
user-select: none;
touch-action: manipulation;
outline: 10px solid rgb(var(--primary), .5);
border-radius: 100%;
position: relative;
transition: .3s;
}

.btn-class-name .back {
background: rgb(var(--secondary));
border-radius: 100%;
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
}

.btn-class-name .front {
background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
border-radius: 100%;
position: absolute;
border: 1px solid rgb(var(--secondary));
left: 0;
top: 0;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2rem;
font-weight: 600;
font-family: inherit;
transform: translateY(-15%);
transition: .15s;
color: rgb(var(--secondary));
}

.btn-class-name:active .front {
transform: translateY(0%);
box-shadow: 0 0;
}



.input-container {
--c-text: rgb(50, 50, 80);
--c-bg: rgb(252, 252, 252);
--c-outline: rgb(55, 45 , 190);
display: grid;
gap: 1ch;
position: relative;
max-width: 190px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: black;
}

.input-field {
padding: 0.5em 0.75em;
border-radius: 0.2em;
border: 1px solid var(--c-border, currentColor);
color: var(--c-text);
font-size: 1rem;
letter-spacing: 0.1ch;
width: 100%;
}

.input-field:not(:placeholder-shown) + .input-label {
transform: translateY(-220%);
opacity: 1;
}

.input-field:invalid {
--c-border: rgb(230, 85, 60);
--c-text: rgb(230, 85, 60);
--c-outline: rgb(230, 85, 60);
}

.input-field:is(:disabled, :read-only) {
--c-border: rgb(150, 150, 150);
--c-text: rgb(170, 170, 170);
}

.input-field:is(:focus, :focus-visible) {
outline: 2px solid var(--c-outline);
outline-offset: 2px;
}

.input-label {
--timing: 200ms ease-in;
position: absolute;
left: 0;
top: 50%;
transition: transform var(--timing),
opacity var(--timing);
transform: translateY(-50%);
opacity: 0;
color: var(--c-text);
font-weight: 500;
}

body
{
   
   background-color: #232440;
   display: flex;
   height: 70vh;
   align-items: center;
   justify-content: center;
}


.container
{
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   color: white;
   padding: 20px;
   border-radius: 5%;
   background-color: #3C4C59;
   text-align: center;
}

.play {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 60px;
}

.tentativas
{

    color: greenyellow;}

.red 
{
   color: red;
}

input 
{
   text-align: center;
}

p 
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
}

@media (max-width: 700px) {
    body 
    {
        height: 80vh;
    }
    p 
    {
        max-width: 95%;
    }
    

    }